---
import Layout from '@layouts/Layout.astro';
import Icon from "heroicons-astro/Heroicon.astro";

import { Image, Picture } from 'astro:assets';

import { GalleryContent } from 'src/modules/galleryContent';

const videoUrl = 'https://stj-videos.vidflow.co/studio/o3yfykia/deliverable/oec22imz/media/b0jwcoz9-1stygogv/ChrisNatalie_comp.mp4';
---

<script>
    const SHOW_CLASS = 'show';
    const SHOW_CLASS_BF = 'show-below-fold';

    const imageLinks = document.querySelectorAll('a.image');
    const lightboxes = document.querySelectorAll('.lightbox-image');

    const imageCount = lightboxes.length;

    const lightboxCloseButtons = document.querySelectorAll('.lightbox .close');
    lightboxCloseButtons?.forEach(b => {
        b.addEventListener('click', () => {
            handleModalClose();
        })
    })
    const closeButton = document.querySelectorAll('.lightbox-container .close');
    closeButton?.forEach(b => {
        b.addEventListener('click', () => {
            handleModalClose();
        })
    })

    const showLightbox = (id: number | string) => {
        history.pushState({}, '', `${location.origin}/gallery#${id}`);

        const allLightboxImages = document.querySelectorAll('.lightbox-container .lightbox-image.show');
        allLightboxImages?.forEach(i => {
            i.classList.toggle(SHOW_CLASS, false);
        })

        const containerEl = document.querySelector('.lightbox-container');
        const bigImage = document.getElementById(`${id}-lightbox`);

        if (!bigImage) {
            history.pushState({}, '', location.pathname);
            handleModalClose();
            return;
        }
        
        containerEl?.classList.toggle(SHOW_CLASS, true);
        bigImage?.classList?.toggle(SHOW_CLASS, true);
    }

    const handleNext = () => {
        const currentHash = location.hash?.replace("#image-", '');
        if (currentHash == null || currentHash === '') {
            return;
        }

        const hashIndex = parseInt(currentHash, 10);
        const nextId = imageCount - 1 === hashIndex ? 0 : hashIndex + 1;
        showLightbox(`image-${nextId}`);
    }
    const handlePrevious = () => {
        const currentHash = location.hash?.replace("#image-", '');
        if (currentHash == null || currentHash === '') {
            return;
        }

        const hashIndex = parseInt(currentHash, 10);
        const nextId = hashIndex === 0 ? imageCount - 1 : hashIndex - 1;
        showLightbox(`image-${nextId}`);
    }

    const handleHashChange = (e: HashChangeEvent) => {
        e.preventDefault();
        const currentHash = location.hash?.replace("#", '');
        showLightbox(currentHash);
    }
    
    const handleKeyDown = (e: KeyboardEvent) => {
        e.preventDefault();
        switch (e.key) {
            case 'Escape':
                handleModalClose();
                return;
            case 'ArrowRight':
                handleNext();
                return;
            case 'ArrowLeft':
                handlePrevious();
                return;
        }
    }

    const handleModalClose = () => {
        history.pushState({}, '', location.pathname);

        const containerEl = document.querySelector('.lightbox-container');
        containerEl?.classList.toggle(SHOW_CLASS, false);

        lightboxes.forEach(lb => {
            lb.classList.toggle(SHOW_CLASS, false);
        })

        window.removeEventListener('keydown', handleKeyDown);
    }

    imageLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();

            const id = link.id;
            showLightbox(id);

            window.addEventListener('keydown', handleKeyDown);
        })
    })

    const previousBtn = document.querySelector('.nav-container button.previous');
    previousBtn?.addEventListener('click', handlePrevious);

    const nextBtn = document.querySelector('.nav-container button.next');
    nextBtn?.addEventListener('click', handleNext);

    let initialLoad = true;
    const images = document.querySelectorAll('.gallery .image-container');
    const observerImages = new IntersectionObserver((e) => {
        const visible = e.filter(entry => entry.isIntersecting);
        visible.forEach(container => {
            const image = (container.target as HTMLElement).querySelector('a.image')
            image?.classList?.toggle(initialLoad ? SHOW_CLASS : SHOW_CLASS_BF, true)
        });

        if (visible.length > 1 && !initialLoad) {
            initialLoad = false;
        }
    }, { threshold: 0 })
    images.forEach(i => observerImages.observe(i));

    const videos = document.querySelectorAll('video');
    videos.forEach(v => {
        if (v.readyState >= 2) {
            v.classList.add('loaded');
        } else {
            v.addEventListener('loadedmetadata', (e) => {
                v.classList.add('loaded');
            })
        }
    })

    const credits = document.querySelector('.credits');
    if (credits) {     
        const creditsObserver = new IntersectionObserver((e) => {
            const credits = e[0];
            credits?.isIntersecting && credits.target?.classList.toggle('show', true);
        }) 
        creditsObserver.observe(credits);
    }

    const currentHash = location.hash.replace("#", '');
    showLightbox(currentHash);

    window.addEventListener('hashchange', handleHashChange)
</script>

<Layout title='Image Gallery'>
    <div class="lightbox-container">
        <div class="content">
            <div class="lightbox animate-gradient">
            {
                GalleryContent.map((image: any, i: number) => (
                        <Image
                            src={image.src} 
                            alt={image.alt}
                            id={`image-${i}-lightbox`}
                            class={`lightbox-image fade-in ${image.direction}`}
                            style="--animation-duration: 300ms; --animation-delay: 100ms;"
                        />
                ))
            }
            </div>
            <div class="nav-container">
                <button class="nav previous" aria-name="previous">
                    <Icon iconCode="chevron-left" iconStyle="outline" />
                </button>
                <button class="nav next" aria-name="next">
                    <Icon iconCode="chevron-right" iconStyle="outline" />
                </button>
            </div>
        </div>
        <button class="close" aria-name="close"/>
        <div class="backdrop fade-in" style="--animation-duration: 100ms;" />
    </div>
    <main>
        <section>
            <h1 class="fly-in" style="--animation-delay: 100ms;">
                Gallery
            </h1>
        </section>

        <section class="video-gallery fly-in" style="--animation-duration: 1500ms; --animation-delay: 500ms;">
            <video
                src={videoUrl}
                controls
                oncontextmenu="return false"
                poster="https://meta.vidflow.co/studio/o3yfykia/media/zsg0fqjf/ScreenShot2024-10-23at120944AM.png?width=960&height=960&optimize=image"
            />
        </section>
    
        <section class="gallery" style="--base-delay: 500ms;">
            {
                GalleryContent.map((image: any, i: number) => (
                    <div
                    class={`image-container ${image.direction}`} 
                    >
                        <a 
                            id={`image-${i}`}
                            class="image"
                            href={`#image-${i}`}
                            style={`--delay-offset: ${Math.random() * 500}ms;`}
                        >
                            <Picture
                                src={image.src} 
                                alt={image.alt}
                                width={image.direction === 'horizontal' ? 600 : 400}
                                formats={['avif', 'webp']}
                            />
                        </a>
                    </div>
                ))
            }
        </section>

        <section class="credits">
            <div class="content fade-in" style="--animation-delay: 300ms;">
                <h2>Credits</h2>
                <p>
                    Thank you to <a href="https://aworldawayfilms.com/" target="_blank">A World Away Films</a> for the videography! 
                    And thank you to <a href="https://noellethies.co/" target="_blank">Noelle Thies Photography</a> for the photography!
                </p>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    @use '@styles/media.scss' as Media;

    main {
        --transparent-green: color-mix(in srgb, var(--color-green) 30%, transparent 50%);

        &:has(.lightbox.show) {
            section {
                pointer-events: none;
            }
        }
    }

    p {
        max-width: 60rem;
        text-wrap: pretty;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        gap: var(--space-line);

        &.gallery-section {
            &:not(.show) {
                * {
                    display: none;
                    content-visibility: hidden;
                }
            }
        }
    }

    .video-gallery {
        height: fit-content;
        background-color: var(--color-green);
        transition: background-color 200ms ease-in-out;

        &:has(video.loaded) {
            background-color: transparent;
        }

        video {
            max-width: 100%;
            height: auto;
            width: 100%;
            aspect-ratio: auto 1600 / 1067;
            border-radius: 3px;
            overflow: hidden;
            pointer-events: none;

            opacity: 0;
            transition: opacity 200ms ease-in-out;

            &.loaded {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    
    .gallery {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-base);

        @include Media.at('medium') {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 320px;
        }
        @include Media.at('large') {
            grid-template-columns: repeat(4, 1fr);
        }
        @include Media.at('extra-large') {
            grid-template-columns: repeat(5, 1fr);
        }
        
        .image-container {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;   
            
            .image {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                
                cursor: pointer;
                
                max-width: 100%;
                max-height: 100%;
                border-radius: 3px;
                overflow: hidden;
                
                scale: 0;
                opacity: 0;
                content-visibility: auto;
                
                background: linear-gradient(45deg, var(--transparent-green), color-mix(in srgb, gray 30%, transparent 50%), var(--transparent-green));
                
                transition: transform 200ms ease-in-out;
                &:hover {
                    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
                    transform: scale(1.01);
                }
                
                &.show {
                    --animation-delay: calc(var(--base-delay, 0) + var(--delay-offset, 0));
                    --animation-duration: 1000ms;
                    display: flex;
                }
                &.show-below-fold {
                    --animation-delay: 100ms;
                    --animation-duration: 700ms;
                    display: flex;

                }
                &.show, &.show-below-fold {
                    animation: pop-in var(--animation-duration) cubic-bezier(.78,.04,.74,1.17) var(--animation-delay) 1 normal forwards;
                }

                picture {
                    pointer-events: none;
                    min-width: 100%;
                    min-height: 100%;
                    max-width: none;
                    max-height: none;
                    
                    display: flex;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                }
                
                img {
                    flex-shrink: 0;
                    pointer-events: none;
                    min-width: 100%;
                    min-height: 100%;
                    max-width: none;
                    max-height: none;
                }  
            }

            &.horizontal {
                grid-column-start: span 2;

                height: auto;

                picture {
                    aspect-ratio: 1600 / 1067;
                    max-height: 100%;
                }

                img {
                    height: 100%;
                    width: auto;
                    aspect-ratio: 1600 / 1067;
                }
            }
            &.vertical {
                picture {
                    max-width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1067 / 1600;
                }
                @include Media.at('large') {
                    &:nth-child(4n - 3) {
                        grid-column-start: span 2;
                        grid-row-start: span 2;
                    }  
                }
            }  

            @keyframes pop-in {
                from {
                    scale: 0.5;
                    opacity: 0;
                }
                to {
                    scale: 1;
                    opacity: 1;
                }
            }
        }
    }

    .credits {
        margin-top: var(--space-small) !important;

        &:not(.show) .content {
            display: none;
            content-visibility: auto;
        }
    }

    :global(html:has(.lightbox.show)) {
        body {
            overflow: hidden;
        }
        main {
            pointer-events: none;
        }
    }

    .lightbox-container:not(.show),
    .lightbox-image:not(.show) {
            display: none;
            content-visibility: hidden;
            visibility: hidden;
            opacity: 0;
    }

    .lightbox-container {
        --transparent-green: color-mix(in srgb, var(--color-green) 30%, transparent 50%);
        --button-height: 40px;

        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        opacity: 1;

        transition: all 300ms ease-in-out allow-discrete;

        .backdrop {
            z-index: 5;
            position: absolute;
            height: 100%;
            width: 100%;
            
            background-color: rgba(75, 75, 75, 0.85);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }

        .close {
            z-index: 10;
            cursor: pointer;
            height: var(--button-height);
            aspect-ratio: 1 / 1;

            position: absolute;
            top: var(--space-line);
            right: var(--space-line);
            @include Media.at('medium') {
                top: var(--space-small);
                right: var(--space-small);
            }

            border: var(--color-white) solid 2px;
            background-color: transparent;
            border-radius: 888px;
            transition: background-color 200ms ease-in-out;

            &::after, &:before {
                content: "";

                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;

                width: 2px;
                height: calc(100% - 0.75rem);

                background-color: var(--color-white);
                transition: background-color 200ms ease-in-out;
            }
            &::before {
                rotate: 45deg;
            }
            &::after {
                rotate: -45deg;
            }

            &:hover, &:active {
                background-color: var(--color-white);
                &:before, &:after {
                    background-color: var(--color-green);
                }
            }
        }
    }
    .lightbox-container .content {
        --max-width: calc(100vw - 8rem);
        --max-height: calc(100vh - 8rem);

        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        z-index: 211;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-line);

        .lightbox {
            background: linear-gradient(45deg, var(--transparent-green), color-mix(in srgb, gray 30%, transparent 50%), var(--transparent-green));
            background-size: 200% 200% !important;

            border-radius: 4px;
            
            overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            transition: all 500ms ease-in-out;

            &:has(.show.vertical) {
                --aspect: calc(1067 / 1600);
                aspect-ratio: 1067 / 1600;
            }
            &:has(.show.horizontal) {
                --aspect: calc(1600 / 1067);
                aspect-ratio: 1600 / 1067;
            }

            @media (orientation: portrait) {
                --real-max-width: min(1067px, var(--max-width));
                --real-max-height: min(var(--max-height), calc(var(--real-max-width) / var(--aspect)));
                height: var(--real-max-height);
            }
            @media (orientation: landscape) {
                --real-max-height: min(1067px, var(--max-height));
                --real-max-width: min(var(--max-width), calc(var(--real-max-height) * var(--aspect)));
                width: var(--real-max-width);
            }
        }

        .lightbox-image {
            z-index: 10;
            isolation: isolate;
            height: auto;
            width: auto;
            max-width: var(--max-width);
            max-height: var(--max-height);
        }

        .nav-container {
            z-index: 2000;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;

            width: calc(100% + 5.5rem);

            display: flex;
            justify-content: space-between;

            button {
                position: relative;
                height: var(--button-height);
                width: auto;
                aspect-ratio: 1 / 1;

                background-color: transparent;
                border: var(--color-white) 1px solid;
                border-radius: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                transition: background-color 200ms ease-in-out;

                :global(svg) {
                    color: var(--color-white);
                    transition: color 200ms ease-in-out;
                }
                &.previous :global(svg) {
                    translate: -5% 0;
                }
                &.next :global(svg) {
                    translate: 5% 0;
                }

                &:hover, &:active {
                    background-color: var(--color-white);

                    :global(svg) {
                        color: var(--color-green);
                    }
                }
            }
        }
    }
</style>