---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import imageMobile1 from '@assets/images/humbold-lake-mb.jpg';
import imageMobile2 from '@assets/images/tennis-mb.jpg';
import imageDesktop from '@assets/images/tennis-dk.jpg';

const alt = "Natalie & Chris are getting married! 09/25";
const seed = Math.ceil(Math.random() * 2);

const title = "9/20/25";
const sub = "Chicago, IL";

const head1 = "<span>Natalie &</span>\n<span><span>Chris</span>";
const head2 = "<span>Save</span>\n<span>the date</span>";

---

<Layout>
	<main>
		<div class="image-container">
			{seed === 1 ?
				<Image src={imageMobile1} alt={alt} class="mb one" /> :
				<Image src={imageMobile2} alt={alt} class="mb two" />
			}
			<Image src={imageDesktop} alt={alt} class="dk" />
		</div>

		<section class="text-container">
			<div class="center">
				<h1>{title}</h1>
				<p>{sub}</p>
			</div>
			<h2 class="top"><Fragment set:html={head1} /></h2>
			<h2 class="bottom"><Fragment set:html={head2}/></h2>
		</section>
	</main>
</Layout>

<style lang="scss">
	@use '@styles/media.scss' as Media;

	main {
		--text-color: var(--color-white, white);
		
		@include Media.until('medium') {
			&:has(.two) {
				--text-color: var(--color-offwhite);
			}
		}

		height: 100vh;
		width: 100vw;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.text-container {
		height: 100%;
		width: 100%;
		@include Media.at('medium') {
			max-height: 700px;
			max-width: 1044px;

			border: 6px double var(--text-color);
		}

		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;

		z-index: 10;
		color: var(--text-color);

		h1, h2, p {
			font-size: 3rem;
			white-space: pre-line;

			animation: rotate-up 800ms ease-in-out 200ms 1 forwards normal;
		}

		.center {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--space-tiny);
			margin-bottom: var(--space-large);

			h1, p {
				display: inline-block;
				width: fit-content;
				text-align: center;

				&:first-child {
					font-size: 6rem;
				}
				&:last-child {
					font-size: 2rem;
				}
			}
		}

		.top {
			position: absolute;
			top: var(--space-line);
			left: var(--space-line);
		}
		.bottom {
			position: absolute;
			bottom: var(--space-line);
			right: var(--space-line);

			text-align: right;
		}
	}

	.image-container img {
		position: fixed;
		height: auto;

		&.dk {
			left: 50%;
			bottom: -5%;
			translate: -50% 0;

			width: 100vw;
			min-width: 1512px;
		}
		&.mb {
			width: 100vw;
			min-width: 700px;
			
			&.one {
				bottom: -2%;
				left: -40%;
			}
			&.two {
				bottom: -4%;
				left: -60%;
			}
		}
	}
</style>
