---
import PageTitle from "@components/PageTitle.astro";
import TravelAccomodations from "@components/TravelAccomodations.svelte";
import Layout from "@layouts/Layout.astro";

import cubs from '@assets/images/chi-todo/cubs.jpeg';
import lakefront from '@assets/images/chi-todo/lakefront.jpeg';
import park from '@assets/images/chi-todo/park.jpeg';
import riverwalk from '@assets/images/chi-todo/riverwalk.jpeg';
import show from '@assets/images/chi-todo/show.jpeg';
import JumpCards from "@components/generic/JumpCards.astro";
import Accordion from "@components/generic/Accordion.svelte";

const polaroids: {name: string, src: ImageMetadata}[] = [
{
    name: 'Cubs game',
    src: cubs
},
{
    name: 'Lakefront trail',
    src: lakefront
},
{
    name: 'Millenium Park',
    src: park
},
{
    name: 'The Riverwalk',
    src: riverwalk
},
{
    name: 'Riviera Theatre',
    src: show
}
].sort((a: any, b: any) => Math.random() - Math.random());

type rec = {
    name: string,
    neighborhood: string,
    tag: string
}
const attractions: rec[] = [
    {
        name: 'Architecture River Tour',
        neighborhood: 'River North',
        tag: 'The most worthwhile "tourist attraction" in the city. A must-do.'
    },
    {
        name: 'Chicago Riverwalk',
        neighborhood: 'River North',
        tag: 'A vibrant walking path with cafes, bars, and perhaps the best views in the city.'
    },
    {
        name: 'Millenium Park',
        neighborhood: "The Loop",
        tag: 'A large, public park featuring the bean and band shell. Adjacent to Maggie Daley Park, Grant Park, and the art museum.'
    },
    {
        name: 'Chicago Cultural Center',
        neighborhood: "The Loop",
        tag: "Perhaps Chris's favorite building in the city. Go see the beautiful mosaics. It often has exhibits too."
    },
    {
        name: 'Magnificent Mile',
        neighborhood: 'River North',
        tag: "Chicago's most famous shopping street. It is always bustling and steps away from both beaches and Navy Pier."
    },
    {
        name: 'Lake Michigan',
        neighborhood: 'the entire east side',
        tag: 'The entire lakefront is a long, public park. Great for walking, biking, and beaching.'
    },
    {
        name: 'Museum District',
        neighborhood: 'Near South Side',
        tag: 'Check out the Shedd Aquarium, Adler Planetarium, and/or Field Museum. The 146 bus will get you there from downtown.'
    },
    {
        name: 'Lincoln Park Zoo',
        neighborhood: 'Lincoln Park',
        tag: "Chicago's free, downtown zoo. Come on the right Saturday morning and you'll catch Natalie volunteering here."
    },
    {
        name: 'The Second City',
        neighborhood: 'Old Town',
        tag: "The most famous venue for Chicago's vibrant comedy scene, offering sketch comedy and improv shows."
    },
    {
        name: 'The IO Theater',
        neighborhood: 'Clybourn Corridor',
        tag: "A comedy venue that specializes in improv. They are not as well known as Second City but have some great shows with smaller crowds."
    },
    {
        name: 'Chicago Magic Lounge',
        neighborhood: 'Andersonville',
        tag: 'Tucked away behind a "laundromat" is this wonderful lounge. Get tickets for a show or simply show up for a drink and bar magic.'
    },
]

const restaurants: rec[] = [
    {
        name: 'Kabobi & Noon O Kabab',
        neighborhood: 'Albany Park',
        tag: 'Two neighborhood establishments competing for the title of "Best Persion Food" in the city. Kabobi is our personal favorite.'
    },
    {
        name: 'Taipei Cafe',
        neighborhood: 'Lakeview',
        tag: 'A small Taiwanese restaurnt in a bustling part of Lakeview.'
    },
    {
        name: 'Turquoise Cafe & Restaurant',
        neighborhood: 'Roscoe Village',
        tag: 'Quiet Turkish restaurant with outdoor seating and great food.'
    },
    {
        name: 'Cafe Tola',
        neighborhood: 'Multiple locations',
        tag: "Chris's favorite empanadas in the city."
    },
    {
        name: 'Izakaya Shinya',
        neighborhood: 'Wicker Park',
        tag: 'Some of the best Japanese food in the city. Open from 5pm til late.'
    },
    {
        name: 'Bigsuda',
        neighborhood: 'Wicker Park',
        tag: 'This is Asian fushion done right. The atmosphere is great as well.'
    },
    {
        name: 'Pasta Palazzo',
        neighborhood: 'Lincoln Park',
        tag: 'Casual Italian food with big flavors and big portions.'
    },
    {
        name: 'Macello',
        neighborhood: 'West Loop',
        tag: 'Slightly upscale Italian restaurant with great, housemade pasta.'
    },
    {
        name: 'Half Acre Beer Co',
        neighborhood: 'Bowmanville',
        tag: 'Cozy brewery with an outdoor patio and great food.'
    },
    {
        name: 'Off Color Brewing',
        neighborhood: 'Near North Side',
        tag: 'Cozy brewery with unique beers. A wonderful Detroit-style pizza joint often has pop-ups here.'
    },
    {
        name: 'Best Intentions',
        neighborhood: 'Logan Square',
        tag: 'Fun atmosphere and $6 smashburgers. What more can you ask for? This part of Armitage Ave is farther from transit but has some great bars.'
    },
    {
        name: 'Levain Bakery',
        neighborhood: 'West Loop & River North',
        tag: "Chris's favorite cookies. It's a NYC establishment but we accept it happily."
    },
    {
        name: 'Magnolia Bakery',
        neighborhood: 'The Loop',
        tag: "Natalie's favorite dessert - Magnolia's Banana Pudding - can be found here. Another NYC establishment that we are fully on board with."
    },
    {
        name: 'Do-rite Donuts',
        neighborhood: 'Multiple Locations',
        tag: "Chris's favorite donuts because they do cake donuts oh so well. Get the Valrhona Chocolate one."
    }
    ,
    {
        name: "Jennivee's Bakery & Cafe" ,
        neighborhood: 'Lakeview',
        tag: "This Filipino, queer-owned bakery has amazing cakes, cupcakes, and baked goods of all sorts with a touch of Asian fusion."
    }
]
---

<Layout title='Travel Information'>
    <main>
        <section class="hero">
            <PageTitle
                title="Welcome to Chicago!"
                tagline="If you've been before: Welcome back! If you haven't been before: Welcome, we're glad you came! But also, what took you so long?"
            >
                <div class="buttons mb">
                    <a href="#accommodations" class="button">Hotels<span class="arrow">↓</span></a>
                    <a href="#transportation" class="button">Transport<span class="arrow">↓</span></a>
                    <a href="#recs" class="button">Recs<span class="arrow">↓</span></a>
                </div>
                <div class="buttons dk">
                    <a href="#accommodations" class="button">Accommodations<span class="arrow">↓</span></a>
                    <a href="#transportation" class="button">Transportation<span class="arrow">↓</span></a>
                    <a href="#recs" class="button">Recommendations<span class="arrow">↓</span></a>
                </div>
            </PageTitle>
        </section>

        <section id="accommodations">
            <h2>Where to stay</h2>
            <div style="margin-bottom: 0.5rem">
                <p style="margin-bottom: 0.5rem">
                    One of our favorite things about Chicago is its many neighborhoods - 
                    each comes with its own unique charm and history. We encourage you to book 
                    accommodations in the neighborhood that best interests you. To help you out,
                    we have provided some suggestions below:
                </p>
                <p class="legal">
                    Please note that we will not be reserving an official hotel block 
                    as our venue is located away from downtown Chicago where most large hotels 
                    are situated.
                </p>
            </div>
            <TravelAccomodations client:only />
        </section>

        <section id="transportation">
            <hgroup style="margin-bottom: 0.3rem;">
                <h2>How to get around</h2>
                <p>
                    Getting around Chicago is easy! Renting a car is not necessary as public transit is plentiful 
                    (you can also pay with your credit card/phone!). Once you get where you're going, the neighborhoods are 
                    all quite walkable.
                </p>
            </hgroup>

            <div class="grid">
                <div class="sub-section">
                    <h3 class="title">Travel to/from Chicago</h3>
                    <p>
                        We deeply appreciate everyone traveling from near and far to join us on our 
                        special day. Your effort and presence mean the world to us!
                    </p>
                    <p>
                        For those flying in, Chicago is served by two major airports: 
                        O'Hare International Airport (ORD) and Midway International Airport (MDW). 
                        Both airports are well-connected to the city via public transit, taxis, 
                        and ride-sharing services though O'Hare is both larger and closer to our venue.
                    </p>
                    <p class="legal">
                        Please note that starting May 7, 2025, air travel will require a 
                        REAL ID-compliant driver's license or another acceptable form of 
                        identification (ex. passport) to board domestic flights within the US. 
                        Make sure to check your ID and upgrade if necessary to avoid any travel issues.
                    </p>
                </div>

                <div class="sub-section">
                    <hgroup>
                        <h3 class="title">Wedding Day Travel</h3>
                        <p>
                            For more information about the venue and itinerary, 
                            <a href="./wedding-info#venue">visit here</a>.
                        </p>
                    </hgroup>
                    <div>
                        <h4>Taxi/Ride-share:</h4>
                        <p>
                            This is likely the most convenient option for attendees.
                        </p>
                    </div>
                    <div>
                        <h4>Public Transit (CTA)</h4>
                        <ul>
                            <li><p>
                                <b><em>Buses:</em></b>
                                Chicago’s buses are safe and run fairly regularly. Taking the bus may be most convenient 
                                for those staying along or near Irving Park Ave and Western Ave.
                            </p></li>
                            <li><p>
                                <b><em>Local Trains (The “El”):</em></b>
                                Unfortunately, the River Room is not located near any El stops. While the train is a great way to get around the city, 
                                they are not the best for our venue. Your best bet would be to take the Brown or Blue Line to 
                                their respective Irving Park stops and transfer to a bus or use a ride-sharing service from there.
                            </p></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Parking:</h4>
                        <p>
                            Street parking is available in the surrounding neighborhood, but we cannot guarantee availability. 
                            If you plan to drive, please do not drive home under the influence.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <JumpCards cards={polaroids} />
        </section>

        <section id="recs">
            <hgroup>
                <h2>Things to do</h2>
                <p>
                    Below are some of our favorite places around the city! While downtown has a lot to offer, some of the best spots to 
                    eat, drink, and experience the city are located out in the neighborhoods. Our recommendations can be a great starting point to get 
                    you out there.
                </p>
            </hgroup>
            <div class="mb grid">
                <Accordion client:visible title="Attractions" startOpen={true}>
                    <ul>
                        {
                            attractions.map(a => (
                                <li>
                                    <p>
                                        <span class="title">{a.name}</span>
                                        <span class="tag">({a.neighborhood})</span>
                                    </p>
                                    <p>{a.tag}</p>
                                </li>
                            ))
                        }
                    </ul>
                </Accordion>
                <Accordion client:visible title="Restaurants/Bars">
                    <ul>
                        {
                            restaurants.map(r => (
                                <li>
                                    <p>
                                        <span class="title">{r.name}</span>
                                        <span class="tag">({r.neighborhood})</span>
                                    </p>
                                    <p>{r.tag}</p>
                                </li>
                            ))
                        }
                    </ul>
                </Accordion>
            </div>
            <div class="dk grid">
                <ul>
                    {
                        attractions.map(a => (
                            <li>
                                <p>
                                    <span class="title">{a.name}</span>
                                    <span class="tag">({a.neighborhood})</span>
                                </p>
                                <p>{a.tag}</p>
                            </li>
                        ))
                    }
                </ul>
                <ul>
                    {
                        restaurants.map(r => (
                            <li>
                                <p>
                                    <span class="title">{r.name}</span>
                                    <span class="tag">({r.neighborhood})</span> 
                                </p>
                                <p>{r.tag}</p>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    @use '@styles/media.scss' as Media;

    section {
        display: flex;
        flex-direction: column;
        gap: var(--space-line);

        @include Media.at('medium') {
            gap: var(--space-small);
        }

        >.grid {
            --gap: var(--space-line);

            display: flex;
            flex-direction: column;
            gap: var(--gap);

            @include Media.at('medium') {
                --gap: var(--space-small);

                display: grid;
                grid-template-columns: 1fr 1fr;
                
                &>*:first-child {
                    padding-right: var(--gap);
                    border-right: var(--color-green) 1px solid;
                }
            }

        }
    }

    .hero {
        @include Media.at('medium') {
            align-items: center;
            gap: var(--space-small);

            hgroup {
                align-items: center;
            }
            
            p {
                max-width: 40em;
                text-align: center;
            }
        }


        .buttons {
            display: flex;
            gap: var(--space-line);

            a {
                width: fit-content;
                white-space: nowrap;
            }

            .arrow {
                display: inline-block;
                padding-left: var(--space-tiny);

                font-family: sans-serif;

                @include Media.until('small') {
                    display: none;
                }
            }

            @include Media.until('small') {
                .dk {
                    display: none;
                    content-visibility: hidden;
                }
            }
            @include Media.at('small') {
                .mb {
                    display: none;
                    content-visibility: hidden;
                }
            }
        }
    }

    section {
        .sub-section {
            display: flex;
            flex-direction: column;
            gap: var(--space-line);

            h4 {
                margin-bottom: var(--space-tiny);
            }

            &>div {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                h4 {
                    margin-bottom: 0;
                }
            }

            ul {
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: var(--space-tiny);
            }
        }
    }

    :global(section:has(.jump-container)) {
        @include Media.until('small') {
            display: none;
            content-visibility: hidden;
        }
    }
    :global(.jump-container .image) {
        filter: brightness(0.9) grayscale(0.1);
    }

    #recs {
        @include Media.until('medium') {
            .dk {
                display: none;
                content-visibility: hidden;
            }
        }
        @include Media.at('medium') {
            .mb {
                display: none;
                content-visibility: hidden;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: var(--space-line);

            p:last-child {
                color: color-mix(in srgb, var(--color-black) 80%, var(--color-white) 30%);
                font-size: 1rem;
            }
        } 

        :global(details summary) {
            font-size: 1.5rem;
            color: var(--color-green);
        }
    }
</style>